PATH_TO_DB_FILE=/src/data/sqlite-sample.db
DB_PASSPHRASE=samplepassword
DB_PASSPHRASE_SALT=samplesalt
AUTH_URL=https://sampledev.tcpdev.org/m/phr/cloud-sharing/authorize
SERVER_HOST=samplehost.tcpdev.org
SERVER_PORT=443
SERVER_SCHEME=https
CLIENT_ID=sample-client-id-1234
CLIENT_SECRET=sample-client-secret-5678
PARTNER_ID=sample-partner-id-9012
PARTNER_NAME=Sample Test Org
PARTNER_LOGO=https://sampledomain.com/logo.png
DEFAULT_SCOPE=OMHealthResource.HeartRate.Read OMHealthResource.BloodPressure.Read
DEFAULT_EXPIRATION_TIME=7257600
